@charset "UTF-8";

@media screen and (min-width:340px) and (max-width:578px) {

    header {
        position: relative;
        justify-content: space-between;
        align-items: center;
        /* Necessario para usar o comando abaixo*/
        z-index: 1000;
        padding: 0;
        /*faz o menu ficar na frente do background-image */
    }

    header .opcoes a {
        display: none;
    }

    header .logo img {
        width: 150px;
        margin: 5px 20px 5px 20px;
        transition: all 0.5s;
    }

    .cabecalho {
        display: block;
        margin-right: 20px;
    }



    #btnMenu {
        border: none;
        margin: 0;
        padding: 0;
        margin-bottom: 5%;
        /* background-color: #D7F3F3; */
    }

    #btnMenu img {
        /* background-color: aqua; */
        margin-top: 6px;
    }

    #linksMenu,
    #btnMenu {
        width: 150px;
        height: 30px;
        background-color: #d7f3f300;
        color: var(--cor-texto);
        font-size: 1.1em;
        font-family: var(--fonte-texto);
        cursor: pointer;
    }


    #linksMenu {
        position: absolute;
        /* border: 1px solid white; */
        margin-top: 1.4%;
        box-shadow: 0px 0px 5px 0px #000000b9;

    }

    #linksMenu.escondido {
        display: none;
    }

    #linksMenu a {
        display: block;
        background-color: var(--fundo);

        /* border-radius: 0px 0px 3px 3px; */
        text-decoration: none;
        padding: 4px;
        color: var(--azul-escuro);

    }

    #linksMenu a:hover {
        /* background-color: var(--azul-claro); */
        color: var(--azul-claro);
        border: 1px solid var(--azul-claro);
    }


      .tema {
        display: none;
    }

    h1 {
        font-size: 2.5em;
        font-weight: none;
    }
    
    h2 {
        font-size: 1.2em;
    }

    p {
        text-shadow: none;
    }


    #home {
        background-image: linear-gradient(to top, #00a7d1 0%, #0667b3 100%);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .introducao {
        width: 80%;
        /* background-color: antiquewhite; */
        padding: 0;
        justify-content: center;
        margin-top: 18px;
    }



    .introducao p,
    .introducao h2,
    .introducao h1 {
        text-align: left;
        text-shadow: none;
        /* background-color: aquamarine; */
        width: 100%;

    }

    .introducao h1 {
        margin-top: 30px;
    }

    .introducao p {
        margin: 0px 0px 0px 0px;
        font-size: 1.1em;
        margin: 0;
    }

    .mais_detalhes {
        width: 70%;
        height: 300px;
       
    }

    .sugestoes p{
        font-size: 1.1em;
        margin-bottom: 0px;
    }

    #botao_a{
        height: 30px;
        width: 180px;
        font-size: 1.1em;  
        font-weight: bold;
    }

    #botao_a:hover {
    height: 30px;
    width: 180px;
    font-size: 1.1em;
}

.img_opcoes {
    width: 70%;
}

.cards {
    position: relative;
    width: 100%;
    height: 270px;
    border-radius: 5px;
    overflow: hidden;
    outline: 2px solid #ffffff;
    box-shadow: 10px 10px 5px #0000003a;
    transition: all 0.5s ease;
}

    #america {
        background-image: linear-gradient(to top, #00a7d1 0%, #0667b3 100%);
    }

    #america_inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 800px; */
        background-image: none;
        padding: 0;
        /* padding-bottom: 120%; */
    }

    .introducaoAmerica {
        width: 70%;
        /* background-color: #00a7d1; */
        text-align: left;
        margin: 0;
    }
    
    .introducaoAmerica p {
        text-align: left;
        text-shadow: none;
        
        font-size: 1.1em;
        margin: 0;
        margin-bottom: 30px;
    }

    .introducaoAmerica h1 {
        text-shadow: none;
        text-align: left;
        margin: 42px 0px 42px 0px;
    }

    .introducaoAmerica h2{
        text-shadow: none;

    }

    .nomeDestinoAm {
        color: #022642;
        text-shadow: none;
    }

    .tabela_container caption {
        color: white;
    }

    .tabela_container table {
        background-color: #0668b371;
    }

    .tabela_container th {
        background-color: #26d0fa;
    }

    #purmamarca,
    #cumberland,
    #las_pozas {
        color: #022642;
    }

    .lista_america li::marker {
        color: #022642;
    }

    .texto_purmamarca,
    .texto_cumberland,
    .texto_las_pozas {
        width: 95%;
        text-align: left;
        color: #ffffff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    }
    

     


    .separar3 {
        background-image: none
    }

    #area_final {
        margin-top: 40px;
        background-color: #ffffff00;
    }

    #area_final h2{
        color: var(--cor-texto);
    font-size: 1.5em;
    }

    #oceania {
        background-image: linear-gradient(to top, #00a7d1 0%, #0667b3 100%);
    }

    #oceania_inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 800px; */
        padding: 0%;
        background-image: none;
    }

    #oceania h1 {
        margin: 32px 0px 32px 0px;
    }

    .introducaoOceania {
        width: 70%;
        /* background-color: #00a7d1; */
        text-align: left;
        margin: 0;
    }
    
    .introducaoOceania p,
    .introducaoOceania h1 {
        text-shadow: none;
        text-align: left;
        margin: 0;
    }

 .introducaoOceania h2{
    text-shadow: none;
 }

    .cards_linkOceania {
        margin-top: 30px;
    }

    .conteudoOceania {
        background-image: none;
        text-align: left;
    }

    .texto_vale_do_fogo,
    .texto_nan_madol,
    .texto_simpson_desert {
        width: 95%;
        text-align: left;
        color: #ffffff;

        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    }

    .cards_titulo {
        font-size: 25px;
    }

    .img_opcoesAmerica {
    width: 70%;
}

.cardsAmerica h3 {
    font-size: 1.1em;
}


    .sugestoes,
    .img_opcoes,
    .img_opcoesAmerica,
    .img_opcoesOceania {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
    }

    .cards_link,
    .cards_linkAmerica,
    .cards_linkOceania,
    .sobrenos {
        width: 85%;
        /* max-width: 380px; */
    }

    .destino_completo_purmamarca,
    .destino_completo_cumberland,
    .destino_completo_las_pozas,
    .destino_completo_vale_do_fogo,
    .destino_completo_nan_madol,
    .destino_completo_simpson_desert {
        background-image: none;
        background-color: none;
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        font-size: 1.1em;
        text-align: center;
    }

    .destino_completo_purmamarca p,
    .destino_completo_purmamarca h2,
    .destino_completo_purmamarca ul,
    .destino_completo_purmamarca img,
    .destino_completo_cumberland p,
    .destino_completo_cumberland h2,
    .destino_completo_cumberland ul,
    .destino_completo_cumberland img,
    .destino_completo_las_pozas p,
    .destino_completo_las_pozas h2,
    .destino_completo_las_pozas ul,
    .destino_completo_las_pozas img,
    .destino_completo_vale_do_fogo p,
    .destino_completo_vale_do_fogo h2,
    .destino_completo_vale_do_fogo ul,
    .destino_completo_vale_do_fogo img,
    .destino_completo_nan_madol p,
    .destino_completo_nan_madol h2,
    .destino_completo_nan_madol ul,
    .destino_completo_nan_madol img,
    .destino_completo_simpson_desert p,
    .destino_completo_simpson_desert h2,
    .destino_completo_simpson_desert ul,
    .destino_completo_simpson_desert img {
        margin-inline: 15px;
    }

    .destino_completo_purmamarca img,
    .destino_completo_cumberland img,
    .destino_completo_las_pozas img,
    .destino_completo_vale_do_fogo img,
    .destino_completo_nan_madol img,
    .destino_completo_simpson_desert img {
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    .tabela_container {
        width: 95%;
        margin: 0 auto 20px auto;
        overflow-x: auto;
    }

    .tabela_container table {
        min-width: 400px;
    }
    .tabela_container th{
        width: 10%;
        font-size: 1em;
    }

     .tabela_container td{
        width: 10%;
        padding: 0;
        font-size: 1em;
    }

   

    #sobrenos {
        background-image: linear-gradient(to top, #00a7d1 0%, #0667b3 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobreNos_texto {
        width: 90%;
        /* background-color: #00a7d1; */
        text-align: left;
    }

    .sobreNos_texto p,
    .sobreNos_texto h1 {
        /* margin-left: 20px; */
        width: 95%;
        text-align: center;
    }


    .sobreNos_texto p {
        text-shadow: none;
        font-size: 1.1em;
    }

    .sobre {
        /* flex-direction: column; */
        gap: 30px;
        padding-bottom: 0px;
        align-items: center;
        /* background-color: #00a7d1; */
        height: auto;
        flex-direction: column;
        font-size: 1.1em;
    }

    .sobrenos {
        width: 100%;
        height: 350px;
        padding-top: 5%;
    }



    .social_link {
        font-size: 25px;
    }


footer {
    text-align: center;
}


}

