@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --fundo: #022642;
    --azul-escuro: #0667b3;
    --azul-claro: #00c7fb;
    --laranja: #ff7903;
    --verde: #0b8185;
    --cor-texto: #ffffff;
    --cor-texto-asia: #D7F3F3;
    --fonte-titulos: 'Oswald', 'Arial', 'sans-serif';
    --fonte-texto: 'Roboto','Arial', 'sans-serif';
     --gradiente-header: linear-gradient(to left, var(--azul-escuro)  0%,   #01508b 100%);
     --gradiente-img: linear-gradient(to right,   #0b193398 0%, #022846b7 80%);
    
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
   background-color: var(--fundo);
 /* font-family: 'Open Sans', sans-serif; */
   
}

.claro{
     --cor-texto-asia :#023962;
     --fundo: #D7F3F3;
     --gradiente-header: linear-gradient(to left, var(--azul-claro) 0%, var(--azul-escuro) 100%);
    --gradiente-img: linear-gradient(to left, #2d3f6198 0%, #367baf61 80%);
}

#main_europa, #main_asia, #main_form{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    background-image: var(--gradiente-header);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--fonte-texto);
    /* height: 100%; */
    box-shadow: 0px 0px 5px 3px #000000b9;
    cursor: pointer;
}


header,
footer {
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #0667B3; */
    /* border-radius: 5px; */
}
.cabecalho {
    display: none;
    margin-left: auto;
}

header .opcoes a {
    font-weight: bold;
    margin: 15px;
    /* border: 10px solid #0667B3; */
    color: var(--cor-texto);
    font-size: 1.3em;
    transition: all 0.5s;
    text-decoration: none;
}

header .opcoes a:hover {
    font-weight: bold;
    margin: 15px;
    /* border: 1px solid #0667B3; */
    /* border-radius: 5px; */
    color: var(--cor-texto);
    font-size: 1.4em;
    text-decoration: none;
    transition: all 0.5s;
}

/*#06375c*/
header .logo img {
    width: 200px;
    /* height: 43px; */
    transition: all 0.5s;
}

h1{
    text-transform: uppercase;
}
  /* EUROPA */

.cabecalho_mqEuropa{
display: none;
}
/* imagem fundo europa */
.fundo_europa{
    width: 100%;
    height: 80%;
    background-image: var(--gradiente-img), url(../img/fundoEuropa.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.europa h1{
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
  padding: 200px;
  font-size: 4.5em; 
  letter-spacing: 3px;
  margin: 0px;
 font-family: var(--fonte-titulos);
}

.h1Mq_europa{
    display: none;
}

/* fotos europa */
#caixas_fotoEuropa{
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    /* margin-top: 34%; */
    position: relative;

}
  /* fotos europa */
 .caixa_europa{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: var(--cor-texto);
    border: 1px solid white;
    transform: translateY(-50px);
    /* padding: 30px; */
    margin: 32px;
    height: 100%;
    width: 22%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px #00000057;
  
}
/* fotos europa */
.caixas_europa{
    background-size: cover;
    height: 45%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

/* fotos europa */
.imgCaixa1_europa{
    background-image: url(../img/sopot.jpg);
    }

    .imgCaixa2_europa{
    background-image: url(../img/lofoten.jpg);

    }
    .imgCaixa3_europa{
    background-image: url(../img/cavernaDePostojna.jpg);

    }

/* fotos europa */
.h2Caixa_europa{
    background-color: var(--laranja);
    color: white;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px 5px 0px 0px;
    font-family: var(--fonte-titulos);
}
/* 
curiosidades europa */
.caixa_europa li{
    font-size: 1.1em;
    margin-right: 3%;
    margin-top: 10px;
    color:#023962;
    font-family:  var(--fonte-texto);
}

/* curiosidades europa */
ul li::marker { 
    color: var(--verde); 
}

strong{
    color: var(--verde);
}

    /* ASIA */
.cabecalho_mqAsia{
    display: none;
}

/* foto de fundo asia */
 .fundo_asia{ 
 background-image: var(--gradiente-img),url(../img/fundoAsia.jpg);
 /* background-color: #ff790e; */
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
 background-position: center 35%;
 width: 100%;
 height: 500px ;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

/* asia titulo */
.asia h1{
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
  /* padding: 200px; */
  font-size: 4.5em; 
  margin: 0px;
 font-family: var(--fonte-titulos);
}

/* caixa principal para imagem e texto  */
.caixa_asia{
width: 100%;
height: 350px;
margin: 5px;
display: flex;
justify-content: center;
margin-top: 0px;
}

/* textos 1 e 3 */
.txtEsquerda_asia{
    /* background-color: white; */
    width: 50%;
    margin-right: 5px;
    height: 350px;
    text-align: left; 
  /* border-left: 3px solid #0b8185;
   border-bottom: 3px solid #0b8185; */
   border-bottom-left-radius: 5px;

}

/* caixa da imagem */
.img1_asia{
    /* background-color: white; */
    width: 40%;
    height: 350px;

}

/* borda dos textos */
.divText_asia{
    /* background-color: #ff790e; */
    border-top: 3px solid var(--verde);
    border-left: 3px solid var(--verde);
    border-radius: 5px;
}

/* texto 2 */
.txtDireita_asia{
    /* background-color: white; */
    border-right: 3px solid var(--verde);
    border-top: 3px solid var(--verde);
    border-radius: 5px;
    width: 50%;
    margin-left: 5px;
    height: 350px;
}

/* caixa da imagem */
.img2_asia {
    /* background-color: white; */
    width: 40%;
    height: 350px;
}

/* titulos dos lugares */
.tituloImg_asia{
    text-align: center;
    color:var(--cor-texto-asia);
    margin-top: 7%;
    font-size: 1.5em;
    font-family: var(--fonte-titulos);

    /* color: white; */

}
/* lista dos lugares */
 .lista_asia{
    color:var(--cor-texto-asia);
    /* color: white; */
    margin-left: 6%;
    font-size: 1.1em;
    font-family:  var(--fonte-texto);
    
}
/* texto paragrafo */
.pImg_asia {
    color:var(--cor-texto-asia);
    /* color: white; */
    font-size: 1.3em;
    margin-left: 10%;
    text-align: left;
    font-family:  var(--fonte-texto);
}

/* imagens 1 e 3 */
.img1_asia img{
    width: 70%;
    height: 70%;
    margin-left:18% ;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px #00000057;
}

/* imagem 2 */
.img2_asia img{
    width: 70%;
    height: 70%;
    margin-left: 18%;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px #00000057;
}

/* caixa pai conteudo 1  */
.conteudo1_asia{
    height: 370px;
    width: 99%;
    margin-top: 15px;
}
/* caixa pai conteudos 2 e 3 */
.conteudo_asia{
    height: 370px;
    width: 99%;
    margin-top: 10px;
    
}
    
   /* FOMULARIO */
.fundo_form{
     background-image: var(--gradiente-img), url(../img/fundoForm.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top; 
      background-position: center 20%;
    /* background-color: #ff790e; */
      width: 100%;
      height: 89vh;
      display: flex;
      justify-content: center;
    
   /* align-items: center; */

}

/* caixa texto */
.text_form{
 /* background-color: #023962; */
 width: 50%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
/* 
texto do lado do furmulario */
.conteudoTxt_form {
    /* font-size: 15px; */
    display: block;
    flex-direction: column;
}

/* titulo */
.h1_form{
    font-family: var(--fonte-titulos);
    color: white;
    font-size: 4.5em;
    margin: 0;
    padding-bottom: 10px;

}

/* paragrafos */
.p_form{
    font-family:  var(--fonte-texto);
    color: white;
    font-size: 1.3em;
    margin: 3px;
}
/* caixa para centralizar texto */
.conteudoTxt_form{
    /* background-color: plum; */
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 10px;
}

/* caixa para dividir a tela do formnulario */
.form{
   /* background-color: #00c7fb; */
   width: 50%;
   height: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
}

/* caixa do formulario */
.conteudo_form{
    /* background-color: blueviolet; */
    width: 57%;
    height: 83%;
    margin: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(10px); /* fundo da caixa levemente transparente e o que esta atras dela fica suavemente desfocado */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    color: white;

}
 /* espaçamento formulario */
.campo{
    margin: 20px;

}
/* caixas e escritas do formulario */
form input, form label{
    margin-left: 15px;
    width: 90%;
    height: 30px;
}
/* borda das caixas do formulario */
form input{
    border-radius: 5px ;
    border: 1px solid white;
    margin: 5px;
}

/* titulos dos campos */
form label{
    text-align: left;
    padding: 0px;
    margin-left: 0px;
    font-family:  var(--fonte-texto);
}

/* caixa select formulario */
#select{
    display: block;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid white;
}

/* area de texto do formulario */
textarea{
    width: 90%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 5px;
}
/* campo da checkbox */
.campo_check{
    display: flex;
    align-items: center;
}

.campo_check{
 margin: 0;
}

/* caixa checkbox */
.checkbox{
 width: 10%;
 margin-left: 20px;
 cursor: pointer;
}

/* botão de enviar */
.enviar{
    margin: 20px;
    width: 83%;
    background-color: var(--azul-claro);
    border: 1px solid var(--verde);
    color: white;
    font-family:  var(--fonte-texto);
    cursor: pointer;
}

/* rodape */
footer {
    background-image: var(--gradiente-header);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    /* height: 28px; */
    text-shadow: 1px 1px 2px #00000099;
    height: 40px;
}

footer p{
    font-family:  var(--fonte-texto);
    font-size: 1.3em;
    margin: 0;
}
footer a{
    text-decoration: none;
    color: white;
}

